<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
     <title>signin</title>
     <style>
      body {
          background-image: url('https://media.istockphoto.com/id/1295068990/photo/senior-male-friends-having-fun-at-park.jpg?s=612x612&w=0&k=20&c=wKyody-7mgfht5NDonhuDXlN_Z2NnOrwHOlD9JqHdV4='); 
          background-size: cover; 
          background-position: center; 
          height: 100vh; 
          margin: 0; 
      }

     
  </style>
</head>
<body>
    <%- include('./partials/nav') %>
    
<div class="container mt-5 d-flex align-items-center justify-content-center vh-90 mt-0">
    <form class="w-40 mt-5 p-0" action="/user/signin" method="post">
      
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" style="color: orangered; font-size: x-large;font-weight: bold;">Email Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text" style="color: orangered; font-size: x-large;">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" style="color: orangered; font-size: x-large;font-weight: bold;">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </form>
</div>

    <%- include('./partials/scripts') %>

</body>
</html>